<app-header></app-header>
<p>main-page-admin works!</p>

<table mat-table [dataSource]="transactionsDataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let transaction">{{ transaction.id != null ? transaction.id : 'N/A' }}</td>
    </ng-container>

    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.amount != null ? transaction.amount : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="currency">
        <th mat-header-cell *matHeaderCellDef>Currency</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.currency != null ? transaction.currency : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="created">
        <th mat-header-cell *matHeaderCellDef>Created On</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.created != null ? transaction.created : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef>Completed On</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.completed != null ? transaction.completed : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="recipientName">
        <th mat-header-cell *matHeaderCellDef>Recipient Name</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.recipient_name != null ? transaction.recipient_name : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="recipientCardNumber">
        <th mat-header-cell *matHeaderCellDef>Recipient Card Number</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.recipient_card_number != null ? transaction.recipient_card_number : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="recipientEmail">
        <th mat-header-cell *matHeaderCellDef>Recipient Email</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.recipient_email != null ? transaction.recipient_email : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="senderCardNumber">
        <th mat-header-cell *matHeaderCellDef>Sender Card Number</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.sender_card_number != null ? transaction.sender_card_number : 'N/A' }}</td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef>State</th>
        <td mat-cell *matCellDef="let transaction">{{ transaction.state != null ? transaction.state : 'N/A' }}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<app-spinner></app-spinner>
