<app-header></app-header>
<div class="wrapper">
    <div class="page">
        <h1>Edit Your Profile</h1>

        <form [formGroup]="profileForm" class="profileForm">        
            <mat-form-field>
                <mat-label>First Name</mat-label>
                <input type="text" matInput formControlName="first_name">
            </mat-form-field>
        
            <mat-form-field>
                <mat-label>Last name</mat-label>
                <input type="text" matInput formControlName="last_name">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Address</mat-label>
                <input type="text" matInput formControlName="address">
            </mat-form-field>

            <mat-form-field>
                <mat-label>City</mat-label>
                <input type="text" matInput formControlName="city">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Country</mat-label>
                <input type="text" matInput formControlName="country">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input type="text" matInput formControlName="phone_number">
            </mat-form-field>
            
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input type="email" matInput formControlName="email" placeholder="pat@example.com">
            </mat-form-field>

            <p class="changePassword">To change password click <span class="link" (click)="openChangePasswordDialog()">here</span>.</p>

            <button type="submit" mat-flat-button color="primary" (click)="save()">Save Changes</button>
        </form>
    </div>
</div>
<app-spinner></app-spinner>

