<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content>
    <form [formGroup]="changePwForm">
        <div class="password">
            <mat-form-field>
                <mat-label>Old Password</mat-label>
                <input matInput placeholder="Password" [type]="hide1 ? 'password' : 'text'" formControlName="old_password">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>

            <mat-form-field>
                <mat-label>New Password</mat-label>
                <input matInput placeholder="Password" [type]="hide2 ? 'password' : 'text'" formControlName="new_password">
                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" (click)="changePassword()" [disabled]="changePwForm.invalid">Change Password</button>
</div>