<h1 mat-dialog-title>New Transaction</h1>
<div mat-dialog-content>
  <form [formGroup]="newTransactionForm">
    <mat-form-field>
        <mat-label>Currency</mat-label>
        <mat-select [(ngModel)]="selectedValue" formControlName="currency">
            <mat-option *ngFor="let currency of data.SenderCurrencies" [value]="currency.currency">
                {{currency.currency}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Amount</mat-label>
        <input type="text" matInput formControlName="amount">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Recipient's card number</mat-label>
        <input type="text" matInput formControlName="recipient_card_number">
    </mat-form-field>
    
    <mat-form-field>
      <mat-label>Recipent's email</mat-label>
      <input type="email" matInput formControlName="recipient_email" placeholder="pat@example.com">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Recipient's first name</mat-label>
        <input type="text" matInput formControlName="recipient_first_name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Recipient's last name</mat-label>
        <input type="text" matInput formControlName="recipient_last_name">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="createTransaction()" [disabled]="newTransactionForm.invalid">Send</button>
</div>
